{% extends "adminhead.html" %}
{% load static %}
{% block content %}

<!-- end app-navbar -->
<!-- begin app-main -->
<div class="app-main" id="main">
    <!-- begin container-fluid -->
    <div class="container-fluid">
        <!-- begin row -->
        <div class="row">
            <div class="col-md-12 m-b-30">
                <!-- begin page title -->
                <div class="d-block d-sm-flex flex-nowrap align-items-center">
                    <div class="page-title mb-2 mb-sm-0">
                        <h1>Manage Complaints</h1>
                    </div>
                    <div class="ml-auto d-flex align-items-center">
                        <nav>
                            <ol class="breadcrumb p-0 m-b-0">
                                <li class="breadcrumb-item">
                                    <a href="#"><i class="ti ti-home"></i></a>
                                </li>
                                <li class="breadcrumb-item">
                                    Home
                                </li>
                                <li class="breadcrumb-item active text-primary" aria-current="page">Manage Complaints
                                </li>
                            </ol>
                        </nav>
                    </div>
                </div>
                <!-- end page title -->
            </div>
        </div>

        {% if msg != ""%}
        <script>alert("{{msg}}");</script>
        {% endif %}
        <!-- end row -->
        <!-- begin row -->
        <div class="row editable-wrapper" >
            <div class="col-lg-12 ">
                <div class="card card-statistics">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="table" class="table display responsive nowrap table-light table-bordered">
                                <thead class="bg-primary text-white">



                                    <th>Sl.No.</th>
                                    <th>User Details</th>
                                    <th>Subject</th>
                                    <th>Message</th>
                                    <th>Date</th>
                                    <th>Incident Details</th>
                                    <th>Status</th>
                                    <th>#</th>
                                    <th>#</th>
                                    <th>#</th>
                                    </tr>
                                </thead>
                                {% for datas in data %}

                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{datas.user.User_name}}</td>
                                    <td>{{datas.Complaint_subject}}</td>
                                    <td>{{datas.Complaint_message}}</td>
                                    <td>{{datas.Complaint_date}}</td>
                                    <td>Insid:date:-{{datas.incident_date}}<br>
                                        Insid:type:-{{datas.incident_type}}
                                    </td>

                                    <td>{{datas.Complaint_reply}}</td>

                                    {% if datas.staff == NULL %}
                                    <td><a href="#" data-toggle='modal' data-target='#edit-{{datas.Complaint_id}}'
                                            class="btn btn-info">Allot Staff</a>

                                        <!-- Modal parent details -->
                                        <div id="edit-{{datas.Complaint_id}}" class="modal fade" role="dialog">
                                            <div class="modal-dialog">

                                                <!-- Modal content-->
                                                <div class="modal-content">
                                                    <form role="form" action="{% url 'Allot_complaints' %}"
                                                        method="post">
                                                        {% csrf_token %}
                                                        <input type="hidden" name="t1" readonly
                                                            value="{{datas.Complaint_id}}" />

                                                        <div class="modal-body">
                                                            <div class="form-group">
                                                                <label for="email">Select Employee:</label>
                                                                <select class="form-control" name="s1">
                                                                    {% for data2 in d %}
                                                                    <option value="{{data2.staff_id}}">
                                                                        {{data2.staff_name}}
                                                                    </option>
                                                                    {% endfor %}
                                                                </select>

                                                            </div>


                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-default"
                                                                data-dismiss="modal">Close</button>
                                                            <input type="submit" class="btn btn-default"
                                                                value="Allot" />
                                                        </div>
                                                </div>
                                                </form>
                                            </div>
                                        </div>

                                    </td>
                                    {% else %}
                                    <td>Assigned To  Staff</td>
                                    {% endif %}


                                    <td><a href="{% url 'delete_complaint'%}?id={{datas.Complaint_id}}"
                                            class="btn btn-danger">Remove</a>&nbsp;</td>
                                            <td><a href="{% url 'view_mails_admin'%}?id={{datas.Complaint_id}}"
                                            class="btn btn-info">View Mails</a>
                                    </td>


                                </tr>








                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end row -->
    </div>
    <!-- end container-fluid -->
</div>















{% endblock %}